.keyboard {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    background: #004134;
    box-shadow: 0 0 50px rbga(0, 0, 0, 0.5);
    user-select: none;
    transition: bottom 0.4s;
    height: 100px;
}

/* 
Using BEM CSS Naming Convention
https: //www.freecodecamp.org/news/css-naming-conventions-that-will-save-you-hours-of-debugging-35cea737d849/
 */
 /* https://www.w3.org/TR/WCAG21/ */

.keyboard__keys {
    text-align: center;
}

.keyboard__key {
    height: 45px;
    width: 6%;
    max-width: 90px;
    margin: 3px;
    border-radius: 4px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.keyboard__key:active {
    background: rgba(255, 255, 255, 0);
}

.keyboard__key--wide {
    width: 12%;
}

.keyboard__key--extra-wide {
    width: 30%;
    max-width: 500px;
}

/* 
for now use colors, maybe for web accessibility -> change 
to colors w/patterns and shapes for colorblind at some point
 */
.left-pinky--active{
    color: pink;
}
.left-ring--active{
    color: red;
}
.left-middle--active{
    color: yellow;
}
.left-pointer--active{
    color: orange;
}
.left-thumb--active{
    color: brown;
}

.right-pinky--active{
    color: purple;
}
.right-ring--active{
    color: blue;
}
.right-middle--active{
    color: turquoise;
}
.right-pointer--active{
    color: green
}
.right-thumb--active{
    color: greenyellow
}
