/* color coding link
    https://accessibility.psu.edu/color/colorcoding/#:~:text=Developers%20using%20red%20and%20green,blue%20then%20red%20and%20green.
 */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* footer start*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80px;
  width: 100vw;
  background: rgb(20,20,20);
}

ul.contact-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

li.contact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 33px;
  border-radius: 5px;
}
/* footer end*/

nav {
  flex-direction: row;
  align-items: center;
}

p {
  border-collapse: separate;
  box-sizing: border-box;
}

.error {
  background: red;

}

.current {
  background: orange;
  color: white;

}

.correct {
  background: rgb(85, 213, 236);
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(148, 25, 25, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(66, 24, 182);
  color: rgb(39, 221, 130);
}

button {
  cursor: pointer;
}

.off {
  display: none;
}